@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');

* {
    box-sizing: border-box;

}

body {
    margin: 0;
    padding: 0;
}

#h3acmcenterlogo {
    width: 70px;
    filter: drop-shadow(0 0 15px #0ff);

}

#h3navbar-logo h1 {
    text-shadow: 0 0 25px #0ff;
    color: white;
}

#h3navbar-logo {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:
        #162036;
    margin: 0;
}

#h3navbar {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 150px;
    z-index: 8;
}

#h3nav-dropdown {
    position: absolute;
    right: 30px;
    top: 20px;
    height: 60px;
    width: 60px;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 10;
}

#h3dropdown-line {
    width: 50px;
    height: 5px;
    background-color: white;
}

#h3navbar-options {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 2px solid white;
    margin: 0;
    padding: 0;
}

@media (max-width: 1024px) {
    #h3navbar-options {
        display: none;
    }

    #h3navbar {
        height: 100px;
    }

    #h3navbar-logo {
        padding-left: 30px;
        justify-content: flex-start;
    }

    #h3nav-dropdown {
        display: flex;
    }

    #h3navbar-popup {
        display: none;
    }

    #h3side-panel {
        display: flex;
    }
}


#h3nav-close {
    width: 60px;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 40px;
    font-weight: bold;
    color: white;

    cursor: pointer;
    user-select: none;
    z-index: 14;
}

#h3nav-close:hover {
    color: #ffd86b;
    box-shadow: 0 0 10px #ffd86b;
}


#h3learn-nav,
#h3practice-nav,
#h3compete-nav,
#h3board-nav,
#h3contact-nav {
    height: 50px;
    width: 20%;

    background-color: #26478c;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#h3navbar-popup {
    background-color: #ffd86b;
    border-bottom: white solid 4px;
    border-left: white solid 4px;
    border-right: white solid 4px;
    width: 20%;
    height: 150px;
    position: absolute;
    left: 0px;
    top: 150px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    font-family: Arial;
    z-index: 7;
    font-size: 30px;
}

#h3side-panel {
    position: fixed;
    top: 0;
    right: 0;

    width: 20vw;
    min-width: 240px;
    height: 100vh;

    background-color: #162036;
    color: white;

    transform: translateX(100%);
    transition: transform 0.3s ease;

    z-index: 8;
    flex-direction: column;
    padding-top: 120px;
    display: none;
}

@media (max-width: 1024px) {

    #h3side-panel {
        display: flex;
    }
}

#h3side-panel.open {
    transform: translateX(0);
}

#h3side-panel-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;

    z-index: 7;
}

#h3side-panel-overlay.open {
    opacity: 1;
    pointer-events: auto;
}

.h3side-panel-item {
    padding: 20px 30px;
    font-size: 24px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.h3side-panel-item:hover {
    background-color: white;
    color: #162036;
}


#h3home-central-content {
    width: 100%;
    height: 600px;
    display: flex;
    padding: 0;
    margin: 0;
    z-index: 0;
}


#h3home-central-content img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: blur(1px);
    z-index: 0;

}

#h3central-content-div {
    background-color: white;
    height: 250px;
    width: 40%;
    z-index: 6;
    position: absolute;
    left: 30%;
    top: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
    border: 3px solid grey;
    filter: drop-shadow(0 0 15px #0ff);

}

#h3hcc-header-div {
    width: 100%;
    font-family: "Rubik Moonrocks", sans-serif;
    font-size: 30px;
    height: 50px;
}

#h3hcc-paragraph-div {
    height: 60px;
    width: 100%;
    font-family: Arial;

}

#h3acm-preview {
    height: 50vw;
    width: 100%;
    background: linear-gradient(to bottom, #222e47 50%, #26478c 50%);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#h3left-preview-images {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50vw;
    height: 600px;
    gap: 20px;
    padding-left: 50px;
}

#h3top-left-preview-images,
#h3bottom-left-preview-images {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

#h3top-left-preview-images img,
#h3bottom-left-preview-images img {
    width: 23vw;
    height: 13vw;
    object-fit: contain;
    border: 2px solid gold;
    background-color: black;

}



#h3right-acm-logo {
    background: linear-gradient(to right, #222e47 50%, black 50%);
    width: 50vw;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 20px;

}

#h3right-acm-logo img {
    width: 35vw;
    height: auto;
    border-top: white solid 2px;
    border-bottom: white solid 2px;
    border-right: white solid 2px;
}

.h3image-fader {
    width: 300px;
    height: 200px;
    position: relative;
    display: flex;
    justify-content: center;
}

.h3image-fader img {
    position: absolute;
}

.h3image-fader .h3image-a {
    transition: opacity 0.8s ease;
    opacity: 1;
}

.h3image-fader .h3image-b {
    transition: opacity 0.8s ease;
    opacity: 0;
}

#h3-alternate-acm-preview,
#h3-alternate-acm-logo,
#h3-alternate-preview-images {
    display: none;
}



@media (max-width: 1024px) {

    #h3central-content-div {
        width: 60vw;
        left: 20%;
    }

    #h3acm-preview {
        display: none;
    }

    #h3left-preview-images {
        display: none;
    }

    #h3top-left-preview-images,
    #h3bottom-left-preview-images {
        display: none;
    }



    #h3right-acm-logo {
        display: none;

    }

    #h3-alternate-acm-preview {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 2800px;
        padding-top: 50px;
        padding-bottom: 50px;
        align-items: center;
        gap: 50px;
        background: linear-gradient(to bottom, #222e47 50%, #26478c 50%);
    }

    #h3-alternate-acm-logo {
        display: block;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(to right, #222e47 50%, black 50%);
    }

    #h3-alternate-acm-logo img {
        width: 70vw;
        height: auto;
        border-top: white solid 2px;
        border-bottom: white solid 2px;
        border-right: white solid 2px;
    }

    #h3-alternate-preview-images {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 50px;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    #h3-alternate-preview-images img {
        width: 60vw;
        height: 40vw;
        object-fit: contain;
        border: 2px solid gold;
        background-color: black;
    }

    .h3image-fader {
        width: 300px;
        height: 200px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}


@media (max-width: 824px) {
    #h3-alternate-acm-preview {
        height: 2200px;
    }
}

@media (max-width: 564px) {
    #h3-alternate-acm-preview {
        height: 1800px;
    }
}

@media (max-width: 440px) {
    #h3-alternate-acm-preview {
        height: 1400px;
    }
}

#h3-favorite-programming-language {
    background-color: #26478c;
    position: relative;
    height: 300px;
}

#h3-favorite-programming-language-bottom {
    position: absolute;
    top: 150px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#h3-mascots {
    width: 50vw;
    display: flex;
    justify-content: center;
}

#h3-mascots img {
    width: 150px;
    transition: transform 0.3s ease;
}


#h3-mascots img:hover {

    transform: translateY(-20px);
}

#h3-question-to-mascots {
    width: 50vw;
    text-align: start;
    color: white;

}

#h3-question-to-mascots span {
    font-size: 20px;
}

@media (max-width: 1280px) {
    #h3-mascots {
        width: 60vw;
    }


    #h3-question-to-mascots {
        width: 40vw;

    }
}

@media (max-width: 1024px) {

    #h3-favorite-programming-language {
        display: none;
    }


}

#h3-speech-bubble {
    width: 150px;
    height: 120px;

    bottom: 170px;
    position: absolute;
    left: 0px;
    z-index: 6;

}

#h3-sb-bg {
    width: 150px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    position: absolute;
    filter: grayscale(100%) brightness(150%)
}

#h3-sb-pl {
    width: 60px;
    top: 30px;
    left: 45px;
    height: auto;
    object-fit: cover;
    position: absolute;
}



#h3-before-final-spacer {
    border-top: #222e47 solid 4px;
    height: 100px;
    width: 100%;
    background-color: #26478c;
}

#h3-final-section {
    height: 2200px;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


#h3-final-section img {
    height: 400px;
    width: 50vw;
    object-fit: contain;
    filter: drop-shadow(0 0 15px #0ff);
}

#h3-learn-link,
#h3-practice-link,
#h3-compete-link,
#h3-board-link {
    display: flex;
    width: 90%;
    padding: clamp(24px, 4vw, 100px);
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background-image: linear-gradient(#222e47, black);
    border-radius: 10px;

}

#h3-competition-text,
#h3-practice-text,
#h3-learn-text {
    width: 50vw;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 100px;
    text-align: center;
    color: white;
    border-top: white solid 2px;
    border-bottom: white solid 2px;

}

#h3-competition-text p,
#h3-practice-text p,
#h3-learn-text p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;

    display: inline-block;
}

#h3-competition-text h1,
#h3-practice-text h1,
#h3-learn-text h1 {
    font-size: 50px;
}

#h3-final-section button {
    width: 150px;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
}


@media (max-width: 1024px) {

    #h3-before-final-spacer {
        display: none;
    }

    #h3-final-section {
        height: 3200px;
    }

    #h3-learn-link,
    #h3-practice-link,
    #h3-compete-link,
    #h3-board-link {
        flex-direction: column;
    }

}