@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');

* {
    box-sizing: border-box;

}

body {
    margin: 0;
    padding: 0;
}

#h3acmcenterlogo {
    width: 70px;
    filter: drop-shadow(0 0 15px #0ff);

}

#h3navbar-logo h1 {
    text-shadow: 0 0 25px #0ff;
    color: white;
}

#h3navbar-logo {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:
        #162036;
    margin: 0;
}

#h3navbar {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 150px;
    z-index: 8;
}

#h3nav-dropdown {
    position: absolute;
    right: 30px;
    top: 20px;
    height: 60px;
    width: 60px;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 10;
}

#h3dropdown-line {
    width: 50px;
    height: 5px;
    background-color: white;
}

#h3navbar-options {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 2px solid white;
    margin: 0;
    padding: 0;
}

@media (max-width: 1024px) {
    #h3navbar-options {
        display: none;
    }

    #h3navbar {
        height: 100px;
    }

    #h3navbar-logo {
        padding-left: 30px;
        justify-content: flex-start;
    }

    #h3nav-dropdown {
        display: flex;
    }

    #h3navbar-popup {
        display: none;
    }

    #h3side-panel {
        display: flex;
    }
}


#h3nav-close {
    width: 60px;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 40px;
    font-weight: bold;
    color: white;

    cursor: pointer;
    user-select: none;
    z-index: 14;
}

#h3nav-close:hover {
    color: #ffd86b;
    box-shadow: 0 0 10px #ffd86b;
}


#h3learn-nav,
#h3practice-nav,
#h3compete-nav,
#h3board-nav,
#h3contact-nav {
    height: 50px;
    width: 20%;

    background-color: #26478c;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#h3navbar-popup {
    background-color: #ffd86b;
    border-bottom: white solid 4px;
    border-left: white solid 4px;
    border-right: white solid 4px;
    width: 20%;
    height: 150px;
    position: absolute;
    left: 0px;
    top: 150px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    font-family: Arial;
    z-index: 7;
    font-size: 30px;
}

#h3side-panel {
    position: fixed;
    top: 0;
    right: 0;

    width: 20vw;
    min-width: 240px;
    height: 100vh;

    background-color: #162036;
    color: white;

    transform: translateX(100%);
    transition: transform 0.3s ease;

    z-index: 8;
    flex-direction: column;
    padding-top: 120px;
    display: none;
}

@media (max-width: 1024px) {

    #h3side-panel {
        display: flex;
    }
}

#h3side-panel.open {
    transform: translateX(0);
}

#h3side-panel-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;

    z-index: 7;
}

#h3side-panel-overlay.open {
    opacity: 1;
    pointer-events: auto;
}

.h3side-panel-item {
    padding: 20px 30px;
    font-size: 24px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.h3side-panel-item:hover {
    background-color: white;
    color: #162036;
}

#l3-central-content {
    width: 100%;
    height: 400px;
    background-color: #50c6de;
    display: flex;
    justify-content: center;
    border-bottom: #162036 solid 4px;
    z-index: 0;
    position: relative;
}


#l3-central-content img {
    width: 100%;
    height: 395px;
    object-fit: cover;
    filter: brightness(100);
    z-index: 1;
}


#l3-cc-text-wrapper {
    width: 50%;
    height: 300px;
    position: absolute;
    top: 50px;
    color: #162036;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border: #162036 solid 4px;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 4;
}

#l3-cc-h1 {
    font-size: 80px;
}

#l3-cc-other {
    font-size: 20px;
}

@media (max-width: 820px) {
    #l3-cc-text-wrapper {
        width: 80%;
    }
}



#l3-main-content {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: black;
}

#l3-main-content h1 {
    font-size: 50px;
}

#l3-main-content p {
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#l3-main-content h3 {
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#l3-mc-part1 {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10vw;
    padding-top: 5vw;
    margin-bottom: 80px;
}

.l3-left-text {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

#l3-fake-terminal {
    background-color: #222842;
    width: 100%;
    height: 400px;
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px #ccc;
    margin-bottom: 20px;
}

#l3-terminal-top {
    background-color: #12172b;
    width: 99%;
    border-radius: 20px;
    height: 40px;
    position: absolute;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
}

.l3-tdot {
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

#l3-terminal-center {
    width: 95%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 50px;
    font-size: 30px;
}

@media (max-width: 430px) {
    #l3-fake-terminal {
        height: 550px;
    }



}

@media (max-width: 1024px) {
    #l3-main-content {
        height: 1400px;
    }
}


#l3-mc-part2 {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10vw;
    margin-bottom: 80px;
}

#l3-getting-started {
    width: 100%;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}



#l3-mc-part2 h1,
#l3-mc-part2 h3,
#l3-mc-part3 h3 {
    margin-bottom: 0;
}

#l3-getting-started h1 {
    margin-bottom: 3vh;
}

#l3-getting-started h3 {
    margin-bottom: 1vh;
}

#l3-ide-layout {
    margin-top: 50px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

#l3-ide-layout img {
    width: 200px;
    height: 200px;
}

@media (max-width: 1024px) {

    #l3-ide-layout {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;

    }

    #l3-ide-layout img {
        width: 60vw;
        height: auto;
    }
}

@media (max-width: 720px) {

    #l3-ide-layout {
        margin-top: 200px;

    }
}

@media (max-width: 480px) {

    #l3-ide-layout {
        margin-top: 300px;

    }
}


#l3-mc-part3 {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10vw;
}

#l3-reading-input h3 {
    margin-bottom: 1vh;
}


#l3-fake-ide {
    width: 95%;
    background-color: #474444;
    padding: 2px 2px;
    border-radius: 10px;
    padding: 5px;
    font-size: 20px;
    margin-bottom: 20px;
    color: white;

}

#l3-fake-ide code {
    background-color: #474444;
}


#l3-fake-ide button {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    font-size: 25px;

}


#l3-mc-part4 {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10vw;
    padding-bottom: 50px;
    margin-top: 50px;
}

#l3-resources {
    
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.l3-resource-content {
    margin: 30px;
}

#l3-book-resource,
#l3-youtube-resource,
#l3-websites-resource {
    width: 25vw;
    height: auto;
    background-color: white;
    border-radius: 10px;
    position: relative;
    padding-top: 60px;
    border: 2px solid black;


}

.l3-resource-top {
    position: absolute;
    top: 0;
    width: 24.7vw;
    height: 50px;
    background-color: #a5c5cc;
    border-radius: 10px 10px 0px 0px;
    padding: 5px;
    text-align: center;
}


.l3-resource-top p {
    margin-top: 8px;
}

#resources-header {
    width: 100%;

}

@media (max-width: 1024px) {
    #l3-mc-part4 {
        height: 3000px;
    }

    #l3-resources {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 20px;
        align-items: center;
    }

    #l3-book-resource,
    #l3-youtube-resource,
    #l3-websites-resource {
        width: 75vw;
        height: auto;
        background-color: white;
        border-radius: 10px;
        position: relative;
        padding-top: 60px;
        border: 2px solid black;


    }

    .l3-resource-top {
        position: absolute;
        top: 0;
        width: 74.3vw;
        height: 50px;
        background-color: #a5c5cc;
        border-radius: 10px 10px 0px 0px;
        padding: 5px;
        text-align: center;
    }


    .l3-resource-top p {
        margin-top: 8px;
    }

    #resources-header {
        width: 100%;

    }
}