@import "../../styles/globals.scss";

.header {
  background-color: $acm-blue;
  color: white;
  margin: 0;
  padding: 7.5rem 2rem;
  text-align: center;

  h1 {
    font-weight: bold;
    font-size: 4rem;
  }

  p {
    font-size: 20px;
  }
}
